# ▼ 크롤링 시작하기

## 1 클래스 정의

In [5]:
for j in range(10):
    if j == 9:
        print('끝')
        break
    print(j)

0
1
2
3
4
5
6
7
8
끝

In [30]:
class MovieAPI():
    def __init__(self):
        self.index = []
        self.title_li = []
        self.link_li = []
        self.image_li = []
        self.year_li = []
        self.dir_li = []
        self.actor_li = []
        self.rating_li = []
        self.error_index = []
        self.start = 1

    # ▼ 탐색결과 append하는 함수
    def li_append(self, index_li, movie_o, mv_link, mv_image, mv_year, mv_dir, mv_actor, mv_rating):
        self.index.append(index_li)
        self.title_li.append(movie_o)
        self.link_li.append(mv_link)
        self.image_li.append(mv_image)
        self.year_li.append(mv_year)
        self.dir_li.append(mv_dir)
        self.actor_li.append(mv_actor)
        self.rating_li.append(mv_rating)

    # ▼ 리스트까지만 반환하는 함수
    def get_movie(self, index_list, movie_list, dir_list, year_list, client_id, client_secret):
        self.index_list = index_list
        self.movie_list = movie_list
        self.dir_list = dir_list
        self.year_list = year_list
        self.client_id = client_id
        self.ciient_secret = client_secret
        
        import urllib.request
        import xmltodict
        import pandas as pd
        import time
        import re
        
        for i, movie_o in enumerate(movie_list):
            ### 영화명 전처리
            movie = movie_o.replace('(애니)','').replace('(다큐)','').replace('감독판','').replace('확장판','').replace('X2','엑스 2').replace('(6/45)','')
            movie = re.sub('[^가-힣A-Za-z0-9\s-]', '', movie)   # 한글, 영어, 숫자, 공백, - 빼고 지우기
            ### url 만들기
            encText = urllib.parse.quote(movie)
            params = f'"&display=100&start={self.start}'
            url = 'https://openapi.naver.com/v1/search/movie.xml?query="' + encText  + params
            ### request 실행
            time.sleep(0.5)
            request = urllib.request.Request(url)
            request.add_header("X-Naver-Client-Id",client_id)
            request.add_header("X-Naver-Client-Secret",client_secret)
            response = urllib.request.urlopen(request)
            rescode = response.getcode()
            if(rescode==200): # 리퀘스트 정상적 #
                response_body = response.read()
                dict_data = xmltodict.parse(response_body.decode('utf-8'), xml_attribs=False)
                search_li = dict_data['rss']['channel']
                # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 1. 검색 결과가 하나인 경우 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                if int(search_li['total']) == 1:
                    search_li = search_li['item']
                    mv_dir = search_li['director']
                    mv_dir = mv_dir.split('|')[:-1] if mv_dir != None else None
                    mv_actor = search_li['actor']
                    mv_actor = mv_actor.split('|')[:-1] if mv_actor != None else None
                    MovieAPI.li_append(self, index_list[i], movie_o, search_li['link'], search_li['image'], search_li['pubDate'], mv_dir, mv_actor, search_li['userRating'])
                # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 1. 검색 결과가 하나인 경우 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 2. 검색 결과가 여러개인 경우 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                elif int(search_li['total']) > 1:
                    # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 검색결과 100개보다 많은지만 확인 ▼▼▼▼▼▼▼▼▼▼▼
                    if int(search_li['total']) > 100:
                        self.error_index.append([index_list[i], '검색결과 초과'])
                    # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 검색결과 100개보다 많은지만 확인 ▲▲▲▲▲▲▲▲▲▲▲  
                    # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 많든 적든 상관없이 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                    search_li = search_li['item']
                    for j in range(len(search_li)):
                        mv_title = search_li[j]['title'].replace('</b>','').replace('<b>','').replace('감독판','').replace('확장판','').replace('X2','엑스 2').replace('(6/45)','')
                        mv_title = re.sub('[^가-힣A-Za-z0-9\s-]', '', mv_title)
                        mv_rating = search_li[j]['userRating']
                        mv_dir = search_li[j]['director']
                        mv_dir = mv_dir.split('|')[:-1] if mv_dir != None else None
                        mv_actor = search_li[j]['actor']
                        mv_actor = mv_actor.split('|')[:-1] if mv_actor != None else None
                        mv_year = search_li[j]['pubDate']
                        # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ (1) 영화명 다르고, 감독 없으면 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                        if mv_title.replace(' ','') != movie.replace(' ','') and mv_dir == None:
                            # 마지막이면 -------------------
                            if j == len(search_li)-1 or j == 100:
                                self.error_index.append([index_list[i], '1페이지에 없음'])
                            # 마지막 아니면 다음 j로 -------
                            continue
                        # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ (1) 영화명 다르고, 감독 없으면 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                        # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ (2) 영화명이 다르고, 감독이 있으면 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                        elif mv_title.replace(' ','') != movie.replace(' ','') and mv_dir != None:
                            # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ (2)-1 마지막이면 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                            if j == len(search_li)-1 or j == 100:
                                # ▼▼▼▼▼▼▼▼▼▼▼ 영화명X 감독명 일치(다행) ▼▼▼▼▼▼▼▼▼▼▼
                                # ----------- append하고 탐색 중단 ----------------
                                if dir_list[i] in mv_dir: 
                                    MovieAPI.li_append(self, index_list[i], movie_o, search_li[j]['link'], search_li[j]['image'], mv_year, mv_dir, mv_actor, mv_rating)
                                    break
                                # ▲▲▲▲▲▲▲▲▲▲▲ 영화명X 감독명 일치(다행) ▲▲▲▲▲▲▲▲▲▲▲
                                # ▼▼▼▼▼▼▼▼▼▼▼ 영화명X 감독명 불일치 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                                else:
                                    # 다음 페이지에 있는지, 일치하는 게 없는지 모름
                                    # 누락으로 넣어버리자 -----------------------
                                    MovieAPI.li_append(self, index_list[i], movie_o, '누락', '누락', '누락', '누락', '누락', '누락')
                                    break
                                # ▲▲▲▲▲▲▲▲▲▲▲ 영화명X 감독명 불일치 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                            # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ (2)-1 마지막이면 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                            # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ (2)-2 마지막 아니면 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                            else:
                                # ▼▼▼▼▼▼▼▼▼▼▼ 영화명X 감독명 일치(다행) ▼▼▼▼▼▼▼▼▼▼▼
                                if dir_list[i] in mv_dir:
                                    if year_list[i] == mv_year:
                                        # (연도까지 같으면 append하고 탐색 중단)
                                        MovieAPI.li_append(self, index_list[i], movie_o, search_li[j]['link'], search_li[j]['image'], mv_year, mv_dir, mv_actor, mv_rating)
                                        break 
                                    else:
                                        # (연도 다르면 다음 리스트 탐색)
                                        continue
                                # ▲▲▲▲▲▲▲▲▲▲▲ 감독명 일치(다행) ▲▲▲▲▲▲▲▲▲▲▲
                                # ▼▼▼▼▼▼▼▼▼▼▼ 감독명 불일치 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                                else:
                                    # (다음거 찾아야지)
                                    continue
                                # ▲▲▲▲▲▲▲▲▲▲▲ 감독명 불일치 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                            # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ (2)-2 마지막 아니면 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                        # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ (2) 영화명이 다르고, 감독이 있으면 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                        # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ (3) 영화명 같고, 감독 있으면 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                        elif mv_title.replace(' ','') == movie.replace(' ','') and mv_dir != None:
                            # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ (3)-1 마지막이면 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                            if j == len(search_li)-1 or j == 100:
                                # ▼▼▼▼▼▼▼▼▼▼▼ 영화명O 감독명 일치(다행) ▼▼▼▼▼▼▼▼▼▼▼
                                if dir_list[i] in mv_dir:
                                    MovieAPI.li_append(self, index_list[i], movie_o, search_li[j]['link'], search_li[j]['image'], mv_year, mv_dir, mv_actor, mv_rating)
                                    break
                                # ▲▲▲▲▲▲▲▲▲▲▲ 영화명O 감독명 일치(다행) ▲▲▲▲▲▲▲▲▲▲▲
                                # ▼▼▼▼▼▼▼▼▼▼▼ 영화명O 감독명 불일치 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                                else:
                                    # 해당 영화로 추가된 것이 없으면 추가
                                    if self.index != [] and self.index[-1] != index_list[i]:
                                        MovieAPI.li_append(self, index_list[i], movie_o, search_li[j]['link'], search_li[j]['image'], mv_year, mv_dir, mv_actor, mv_rating)
                                        break
                                    # 해당 영화로 추가된 것이 있으면 그냥 끝
                                    break
                                # ▲▲▲▲▲▲▲▲▲▲▲ 영화명O 감독명 불일치 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                            # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ (3)-1 마지막이면 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                            # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ (3)-2 마지막 아니면 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                            else:
                                # ▼▼▼▼▼▼▼▼▼▼▼ 영화명O 감독명 일치(다행) ▼▼▼▼▼▼▼▼▼▼▼
                                # ----------- append하고 탐색 중단 ----------------
                                if dir_list[i] in mv_dir:
                                    MovieAPI.li_append(self, index_list[i], movie_o, search_li[j]['link'], search_li[j]['image'], mv_year, mv_dir, mv_actor, mv_rating)
                                    break
                                # ▲▲▲▲▲▲▲▲▲▲▲ 영화명O 감독명 일치(다행) ▲▲▲▲▲▲▲▲▲▲▲
                                # ▼▼▼▼▼▼▼▼▼▼▼ 영화명O 감독명 불일치 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                                # (중복되더라도 일단 넣고 다음 거 탐색)
                                elif dir_list[i] not in mv_dir and self.index != [] and self.index[-1] != index_list[i]:
                                    MovieAPI.li_append(self, index_list[i], movie_o, search_li[j]['link'], search_li[j]['image'], mv_year, mv_dir, mv_actor, mv_rating)
                                    continue
                                # ▲▲▲▲▲▲▲▲▲▲▲ 영화명O 감독명 불일치 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                            # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ (3)-2 마지막 아니면 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                        # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ (3) 영화명 같고, 감독 있으면 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                        # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ (4) 그럼에도 불구하고 마지막까지 없으면 ▼▼▼▼▼▼▼▼▼
                        else:
                            if j == len(search_li)-1 or j == 100:
                                # 누락으로 넣어버리자 -----------------------
                                MovieAPI.li_append(self, index_list[i], movie_o, '누락', '누락', '누락', '누락', '누락', '누락')
                                break
                        # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ (4) 그럼에도 불구하고 마지막까지 없으면 ▲▲▲▲▲▲▲▲▲
                # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 2. 검색 결과가 여러개인 경우 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 3. 검색 안되는 경우 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
                else: 
                    self.error_index.append([index_list[i], '검색 불가'])
                    continue
                # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 3. 검색 안되는 경우 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
            
            else: # 리퀘스트 에러 #
                print("Error Code:" + rescode)

            # ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 세이브포인트 만들기 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
            if (i != 0 and i % 10 == 0) or i == (len(movie_list)-1):
                print(f'{index_list[i]}번째 완료')
            if i != 0 and i % 500 == 0:    # 500번마다 savepoint로 저장해두기 
                pd.DataFrame([self.index, self.title_li, self.link_li, self.image_li, self.year_li, self.dir_li, self.actor_li, self.rating_li]).transpose().to_csv(f'./files/savepoint{index_list[i]}_df2_utf-8.csv', encoding='utf-8')
                print('savepoint', index_list[i])
            # ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 세이브포인트 만들기 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
                
        # for문 끝나면 에러 리스트도 저장해주기
        pd.DataFrame(self.error_index).to_csv(f'./files/error_list_m_utf8.csv', encoding='utf-8')
        
        return [self.index, self.title_li, self.link_li, self.image_li, self.year_li, self.dir_li, self.actor_li, self.rating_li]
                
    # ▼ get_movie 실행 및 저장 함수
    def mk_movie_df(self, index_list, movie_list, dir_list, year_list, client_id, client_secret):
        import pandas as pd
        
        li_to_df = MovieAPI.get_movie(self, index_list, movie_list, dir_list, year_list, client_id, client_secret)
        movie_df = pd.DataFrame(li_to_df).transpose()
        movie_df.columns = ['순번', '영화명', '네이버URL', '이미지URL', '제작연도', '감독', '출연', '평점']

        # 결과 데이터 중복 제거
        df_drop_dp = movie_df.drop_duplicates(['순번'], keep='first')
        df_drop_dp

        # 인덱스 설정
        movie_df = movie_df.set_index('순번')
        df_drop_dp = df_drop_dp.set_index('순번')

        # 결과 데이터와 중복 제거 데이터 저장
        movie_df.to_csv('./files/naver_api_m_utf-8.csv', encoding='utf-8')
        df_drop_dp.to_csv('./files/naver_api_m_drop_dupl_utf-8.csv', encoding='utf-8')

        return movie_df, df_drop_dp

## 2 리스트 불러오기

### 2-1 연도 컬럼 만들기(연도 컬럼 없는 경우)

In [3]:
import pandas as pd

movie_df = pd.read_csv('movie_resize2.csv', encoding='utf-8')
year_df = pd.DataFrame()
for row in movie_df['개봉일']:
    year_df = pd.concat([year_df, pd.DataFrame([row.split('-')[0]])])

year_df.columns = ['연도']

year_df.index = range(len(movie_df))

movie_df = pd.read_csv('movie_resize2.csv', encoding='utf-8')
movie_df = pd.concat([movie_df, year_df], axis=1)

movie_df.to_csv('movie_resize2_year_utf8.csv', encoding='utf-8')

### 2-2 파일 불러오기
DataFrame 불러와서 '인덱스', '영화명', '감독', '연도' 리스트로 각자 넣어주기

In [4]:
import pandas as pd

# 리스트 불러오기
movie_df = pd.read_csv('movie_resize2_year_utf8.csv', encoding='utf-8', index_col=0)
display(movie_df[:6])
index_list = list(movie_df.index)
movie_list = movie_df['영화명'].to_list()
dir_list = movie_df['감독'].to_list()
year_list = movie_df['연도'].to_list()

print('len =',len(index_list,), index_list[:10])
print('len =',len(movie_list), movie_list[:10])
print('len =',len(dir_list), dir_list[:10])
print('len =',len(year_list), year_list[:10])

,영화명,감독,배급사,개봉일,영화형태,국적,전국 스크린수,전국 매출액,전국 관객수,서울 매출액,서울 관객수,장르,등급,영화구분,연도
0,명량,김한민,(주)씨제이이엔엠,2014-07-30,장편,한국,1587,135748398910,17613682,"33,121,225,810","4,163,666",사극,15세관람가,일반영화,2014
1,극한직업,이병헌,(주)씨제이이엔엠,2019-01-23,장편,한국,1978,139647979516,16264944,"31,858,660,536","3,638,287",코미디,15세관람가,일반영화,2019
2,신과함께-죄와 벌,김용화,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,장편,한국,1912,115698654137,14410754,"27,530,825,087","3,346,172",판타지,12세관람가,일반영화,2017
3,국제시장,윤제균,(주)씨제이이엔엠,2014-12-17,장편,한국,966,110828014630,14245998,"25,842,519,330","3,233,946",드라마,12세관람가,일반영화,2014
4,어벤져스: 엔드게임,안소니 루소,월트디즈니컴퍼니코리아 유한책임회사,2019-04-24,장편,미국,2835,122182694160,13934592,"33,577,136,860","3,597,963",액션,12세관람가,일반영화,2019
5,겨울왕국 2,제니퍼 리,월트디즈니컴퍼니코리아 유한책임회사,2019-11-21,장편,미국,2648,114810421450,13747792,"28,824,682,580","3,225,974",애니메이션,전체관람가,일반영화,2019

len = 4835 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
len = 4835 ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '어벤져스: 엔드게임', '겨울왕국 2', '아바타', '베테랑', '괴물', '도둑들']
len = 4835 ['김한민', '이병헌', '김용화', '윤제균', '안소니 루소', '제니퍼 리', '제임스 카메론', '류승완', '봉준호', '최동훈']
len = 4835 [2014, 2019, 2017, 2014, 2019, 2019, 2009, 2015, 2006, 2012]

## 3 함수 실행하기

### 3-1 변수 할당 및 실행

In [5]:
# id, secret 입력
client_id = "viO54DlhW87ESywUDwWb"
client_secret = "7ZHAscDgKs"

# 함수 실행
# MovieAPI 클래스를 ma 변수에 할당
ma = MovieAPI()
# 수집된 전체 df와 중복 제거한 df를 각각의 변수에 할당, mk_movie_df 함수 실행
nv_df, nv_df_drop_dp = ma.mk_movie_df(index_list=index_list, movie_list=movie_list, dir_list=dir_list, year_list=year_list, client_id=client_id, client_secret=client_secret)

display(nv_df.head())

10번째 완료
20번째 완료
30번째 완료
40번째 완료
50번째 완료
60번째 완료
70번째 완료
80번째 완료
90번째 완료
100번째 완료
110번째 완료
120번째 완료
130번째 완료
140번째 완료
150번째 완료
160번째 완료
170번째 완료
180번째 완료
190번째 완료
200번째 완료
210번째 완료
220번째 완료
230번째 완료
240번째 완료
250번째 완료
260번째 완료
270번째 완료
280번째 완료
290번째 완료
300번째 완료
310번째 완료
320번째 완료
330번째 완료
340번째 완료
350번째 완료
360번째 완료
370번째 완료
380번째 완료
390번째 완료
400번째 완료
410번째 완료
420번째 완료
430번째 완료
440번째 완료
450번째 완료
460번째 완료
470번째 완료
480번째 완료
490번째 완료
500번째 완료
savepoint 500
510번째 완료
520번째 완료
530번째 완료
540번째 완료
550번째 완료
560번째 완료
570번째 완료
580번째 완료
590번째 완료
600번째 완료
610번째 완료
620번째 완료
630번째 완료
640번째 완료
650번째 완료
660번째 완료
670번째 완료
680번째 완료
690번째 완료
700번째 완료
710번째 완료
720번째 완료
730번째 완료
740번째 완료
750번째 완료
760번째 완료
770번째 완료
780번째 완료
790번째 완료
800번째 완료
810번째 완료
820번째 완료
830번째 완료
840번째 완료
850번째 완료
860번째 완료
870번째 완료
880번째 완료
890번째 완료
900번째 완료
910번째 완료
920번째 완료
930번째 완료
940번째 완료
950번째 완료
960번째 완료
970번째 완료
980번째 완료
990번째 완료
1000번째 완료
savepoint 1000
1010번째 완료
1020번째 완료
1030번째 완료
1040번째 완료
1050번째 완료
1060번째 완료
1070번째 완료
1080번째 완료
1090번째 완료
1100번째 완료
1110번째 완료
1120번째 완료
1130번째 완료
1140번째 완료
1150번째 완료
1160번째 완료
1170번째 완료
1180번째 완료
1190번째 완료
1200번째 완료
1210번째 완료
1220번째 완료
1230번째 완료
1240번째 완료
1250번째 완료
1260번째 완료
1270번째 완료
1280번째 완료
1290번째 완료
1300번째 완료
1310번째 완료
1320번째 완료
1330번째 완료
1340번째 완료
1350번째 완료
1360번째 완료
1370번째 완료
1380번째 완료
1390번째 완료
1400번째 완료
1410번째 완료
1420번째 완료
1430번째 완료
1440번째 완료
1450번째 완료
1460번째 완료
1470번째 완료
1480번째 완료
1490번째 완료
1500번째 완료
savepoint 1500
1510번째 완료
1520번째 완료
1530번째 완료
1540번째 완료
1550번째 완료
1560번째 완료
1570번째 완료
1580번째 완료
1590번째 완료
1600번째 완료
1610번째 완료
1620번째 완료
1630번째 완료
1640번째 완료
1650번째 완료
1660번째 완료
1670번째 완료
1680번째 완료
1690번째 완료
1700번째 완료
1710번째 완료
1720번째 완료
1730번째 완료
1740번째 완료
1750번째 완료
1760번째 완료
1770번째 완료
1780번째 완료
1790번째 완료
1800번째 완료
1810번째 완료
1820번째 완료
1830번째 완료
1840번째 완료
1850번째 완료
1860번째 완료
1870번째 완료
1880번째 완료
1890번째 완료
1900번째 완료
1910번째 완료
1920번째 완료
1930번째 완료
1940번째 완료
1950번째 완료
1960번째 완료
1970번째 완료
1980번째 완료
1990번째 완료
2000번째 완료
savepoint 2000
2010번째 완료
2020번째 완료
2030번째 완료
2040번째 완료
2050번째 완료
2060번째 완료
2070번째 완료
2080번째 완료
2090번째 완료
2100번째 완료
2110번째 완료
2120번째 완료
2130번째 완료
2140번째 완료
2150번째 완료
2160번째 완료
2170번째 완료
2180번째 완료
2190번째 완료
2200번째 완료
2210번째 완료
2220번째 완료
2230번째 완료
2240번째 완료
2250번째 완료
2260번째 완료
2270번째 완료
2280번째 완료
2290번째 완료
2300번째 완료
2310번째 완료
2320번째 완료
2330번째 완료
2340번째 완료
2350번째 완료
2360번째 완료
2370번째 완료
2380번째 완료
2390번째 완료
2400번째 완료
2410번째 완료
2420번째 완료
2430번째 완료
2440번째 완료
2450번째 완료
2460번째 완료
2470번째 완료
2480번째 완료
2490번째 완료
2500번째 완료
savepoint 2500
2510번째 완료
2520번째 완료
2530번째 완료
2540번째 완료
2550번째 완료
2560번째 완료
2570번째 완료
2580번째 완료
2590번째 완료
2600번째 완료
2610번째 완료
2620번째 완료
2630번째 완료
2640번째 완료
2650번째 완료
2660번째 완료
2670번째 완료
2680번째 완료
2690번째 완료
2700번째 완료
2710번째 완료
2720번째 완료
2730번째 완료
2740번째 완료
2750번째 완료
2760번째 완료
2770번째 완료
2780번째 완료
2790번째 완료
2800번째 완료
2810번째 완료
2820번째 완료
2830번째 완료
2840번째 완료
2850번째 완료
2860번째 완료
2870번째 완료
2880번째 완료
2890번째 완료
2900번째 완료
2910번째 완료
2920번째 완료
2930번째 완료
2940번째 완료
2950번째 완료
2960번째 완료
2970번째 완료
2980번째 완료
2990번째 완료
3000번째 완료
savepoint 3000
3010번째 완료
3020번째 완료
3030번째 완료
3040번째 완료
3050번째 완료
3060번째 완료
3070번째 완료
3080번째 완료
3090번째 완료
3100번째 완료
3110번째 완료
3120번째 완료
3130번째 완료
3140번째 완료
3150번째 완료
3160번째 완료
3170번째 완료
3180번째 완료
3190번째 완료
3200번째 완료
3210번째 완료
3220번째 완료
3230번째 완료
3240번째 완료
3250번째 완료
3260번째 완료
3270번째 완료
3280번째 완료
3290번째 완료
3300번째 완료
3310번째 완료
3320번째 완료
3330번째 완료
3340번째 완료
3350번째 완료
3360번째 완료
3370번째 완료
3380번째 완료
3390번째 완료
3400번째 완료
3410번째 완료
3420번째 완료
3430번째 완료
3440번째 완료
3450번째 완료
3460번째 완료
3470번째 완료
3480번째 완료
3490번째 완료
3500번째 완료
savepoint 3500
3510번째 완료
3520번째 완료
3530번째 완료
3540번째 완료
3550번째 완료
3560번째 완료
3570번째 완료
3580번째 완료
3590번째 완료
3600번째 완료
3610번째 완료
3620번째 완료
3630번째 완료
3640번째 완료
3650번째 완료
3660번째 완료
3670번째 완료
3680번째 완료
3690번째 완료
3700번째 완료
3710번째 완료
3720번째 완료
3730번째 완료
3740번째 완료
3750번째 완료
3760번째 완료
3770번째 완료
3780번째 완료
3790번째 완료
3800번째 완료
3810번째 완료
3820번째 완료
3830번째 완료
3840번째 완료
3850번째 완료
3860번째 완료
3870번째 완료
3880번째 완료
3890번째 완료
3900번째 완료
3910번째 완료
3920번째 완료
3930번째 완료
3940번째 완료
3950번째 완료
3960번째 완료
3970번째 완료
3980번째 완료
3990번째 완료
4000번째 완료
savepoint 4000
4010번째 완료
4020번째 완료
4030번째 완료
4040번째 완료
4050번째 완료
4060번째 완료
4070번째 완료
4080번째 완료
4090번째 완료
4100번째 완료
4110번째 완료
4120번째 완료
4130번째 완료
4140번째 완료
4150번째 완료
4160번째 완료
4170번째 완료
4180번째 완료
4190번째 완료
4200번째 완료
4210번째 완료
4220번째 완료
4230번째 완료
4240번째 완료
4250번째 완료
4260번째 완료
4270번째 완료
4280번째 완료
4290번째 완료
4300번째 완료
4310번째 완료
4320번째 완료
4330번째 완료
4340번째 완료
4350번째 완료
4360번째 완료
4370번째 완료
4380번째 완료
4390번째 완료
4400번째 완료
4410번째 완료
4420번째 완료
4430번째 완료
4440번째 완료
4450번째 완료
4460번째 완료
4470번째 완료
4480번째 완료
4490번째 완료
4500번째 완료
savepoint 4500
4510번째 완료
4520번째 완료
4530번째 완료
4540번째 완료
4550번째 완료
4560번째 완료
4570번째 완료
4580번째 완료
4590번째 완료
4600번째 완료
4610번째 완료
4620번째 완료
4630번째 완료
4640번째 완료
4650번째 완료
4660번째 완료
4670번째 완료
4680번째 완료
4690번째 완료
4700번째 완료
4710번째 완료
4720번째 완료
4730번째 완료
4740번째 완료
4750번째 완료
4760번째 완료
4770번째 완료
4780번째 완료
4790번째 완료
4800번째 완료
4810번째 완료
4820번째 완료
4830번째 완료
4834번째 완료

c:\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

,영화명,네이버URL,이미지URL,제작연도,감독,출연,평점
순번,,,,,,,
0,명량,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/13...,2015,"[정세교, 김한민]","[김한민, 오타니 료헤이, 이해영, 장준녕, 권율]",5.70
1,극한직업,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/16...,2018,[이병헌],"[류승룡, 이하늬, 진선규, 이동휘, 공명]",8.51
2,신과함께-죄와 벌,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/08...,2017,[김용화],"[하정우, 차태현, 주지훈, 김향기, 김동욱, 마동석]",7.83
3,국제시장,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/10...,2014,[윤제균],"[황정민, 김윤진, 오달수, 정진영]",9.02
4,어벤져스: 엔드게임,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/13...,2019,"[앤서니 루소, 조 루소]","[로버트 다우니 주니어, 크리스 에반스, 크리스 헴스워스, 마크 러팔로, 스칼릿 조...",9.38

In [26]:
movie_df[movie_df.index == 421] # 개빡치네^^...

,영화명,감독,배급사,개봉일,영화형태,국적,전국 스크린수,전국 매출액,전국 관객수,서울 매출액,서울 관객수,장르,등급,영화구분,연도
421,사랑,곽경택,롯데쇼핑㈜롯데엔터테인먼트,2007-09-19,장편,한국,0,0,2123815,0,"547,926",멜로/로맨스,15세관람가,일반영화,2007

### 3-2 누락 갯수 확인하기

In [6]:
len(movie_df) - len(nv_df)

300

### 3-3 누락 리스트 확인하기

In [9]:
import numpy as np

aa = nv_df.index.to_numpy()             # 추출 인덱스 (ndarray 1차원)
bb = np.arange(len(movie_df))          # 원본 인덱스 (ndarray 1차원)

diff_index = np.setdiff1d(bb, aa)       # 원본 인덱스(bb)에서 추출 인덱스(aa) 빼기
missed_df = movie_df.loc[diff_index]    # 원본 파일(movie_df)에서 해당 인덱스의 DataFrame 뽑아내기

missed_df.to_csv('./files/missed_utf8.csv', encoding='utf-8')
print('누락리스트',len(missed_df))
missed_df.head()

누락리스트 300

,영화명,감독,배급사,개봉일,영화형태,국적,전국 스크린수,전국 매출액,전국 관객수,서울 매출액,서울 관객수,장르,등급,영화구분,연도
22,어벤져스: 인피니티 워,안소니 루소,월트디즈니컴퍼니코리아 유한책임회사,2018-04-25,장편,미국,2553,99919006769,11211880,"28,631,269,069","3,008,819",액션,12세관람가,일반영화,2018
191,미이라,알렉스 커츠먼,유니버설픽쳐스인터내셔널 코리아(유),2017-06-06,장편,미국,1257,30504689978,3689325,"7,851,059,428","909,202",액션,15세관람가,일반영화,2017
212,아일랜드,마이클 베이,워너브러더스 코리아(주),2005-07-21,장편,미국,0,0,3433900,0,"1,285,400",SF,12세관람가,일반영화,2005
264,마더,봉준호,(주)씨제이이엔엠,2009-05-28,장편,한국,648,20195373838,3013523,"7,430,891,000","1,060,010",드라마,청소년관람불가,일반영화,2009
287,표적,창,(주)씨제이이엔엠,2014-04-30,장편,한국,665,22256359300,2841788,"5,348,606,900","652,750",액션,15세관람가,일반영화,2014

In [11]:
error_list = pd.read_csv('./files/error_list_utf8.csv', encoding='utf-8', index_col=0)
nofind_index_li = error_list.loc[error_list['1']=='검색 불가']['0']
nofind_df = movie_df.loc[nofind_index_li]
print('검색불가 리스트', len(nofind_df))
nofind_df.head()

검색불가 리스트 25

,영화명,감독,배급사,개봉일,영화형태,국적,전국 스크린수,전국 매출액,전국 관객수,서울 매출액,서울 관객수,장르,등급,영화구분,연도
772,"10,000 BC",롤랜드 에머리히,워너브러더스 코리아(주),2008-03-13,장편,미국,359,7430607499,1140118,"2,251,461,500","326,091",어드벤처,15세관람가,일반영화,2008
1604,애프터 선셋,브렛 래트너,롯데쇼핑㈜롯데엔터테인먼트,2005-08-25,장편,미국,0,0,331595,0,"76,901",코미디,15세관람가,일반영화,2005
1732,포켓몬 더 무비 XY&Z 「볼케니온 : 기계왕국의 비밀」,유야마 쿠니히코,(주)이수C&E,2016-12-22,장편,일본,480,2147083300,282419,"425,667,500","53,872",애니메이션,전체관람가,일반영화,2016
1758,스페이스 침스:우주선을 찾아서,커크 드 미코,(주)성원아이컴,2008-07-17,장편,미국,175,1568757000,269947,"345,234,000","55,949",애니메이션,전체관람가,일반영화,2008
1759,헨젤과 그레텔: 마녀 사냥꾼 3D,토미 위르콜라,(주)씨제이이엔엠,2013-02-14,장편,미국,297,2122205602,269510,"670,928,602","80,519",액션,청소년관람불가,일반영화,2013

### 3-4 누락 리스트 다시 돌리기

In [14]:
import pandas as pd

# 리스트 불러오기
missed_df = pd.read_csv('./files/missed_utf8.csv', encoding='utf-8', index_col=0)
display(missed_df[:6])
index_list_m = list(missed_df.index)
movie_list_m = missed_df['영화명'].to_list()
dir_list_m = missed_df['감독'].to_list()
year_list_m = missed_df['연도'].to_list()

print('len =',len(index_list_m), index_list_m[:10])
print('len =',len(movie_list_m), movie_list_m[:10])
print('len =',len(dir_list_m), dir_list_m[:10])
print('len =',len(year_list_m), year_list_m[:10])

,영화명,감독,배급사,개봉일,영화형태,국적,전국 스크린수,전국 매출액,전국 관객수,서울 매출액,서울 관객수,장르,등급,영화구분,연도
22,어벤져스: 인피니티 워,안소니 루소,월트디즈니컴퍼니코리아 유한책임회사,2018-04-25,장편,미국,2553,99919006769,11211880,"28,631,269,069","3,008,819",액션,12세관람가,일반영화,2018
191,미이라,알렉스 커츠먼,유니버설픽쳐스인터내셔널 코리아(유),2017-06-06,장편,미국,1257,30504689978,3689325,"7,851,059,428","909,202",액션,15세관람가,일반영화,2017
212,아일랜드,마이클 베이,워너브러더스 코리아(주),2005-07-21,장편,미국,0,0,3433900,0,"1,285,400",SF,12세관람가,일반영화,2005
264,마더,봉준호,(주)씨제이이엔엠,2009-05-28,장편,한국,648,20195373838,3013523,"7,430,891,000","1,060,010",드라마,청소년관람불가,일반영화,2009
287,표적,창,(주)씨제이이엔엠,2014-04-30,장편,한국,665,22256359300,2841788,"5,348,606,900","652,750",액션,15세관람가,일반영화,2014
307,나우 유 씨 미 : 마술사기단,루이스 리테리어,롯데쇼핑㈜롯데엔터테인먼트,2013-08-22,장편,미국,691,19146691869,2718227,"6,322,143,282","855,244",범죄,12세관람가,일반영화,2013

len = 300 [22, 191, 212, 264, 287, 307, 312, 332, 412, 421]
len = 300 ['어벤져스: 인피니티 워', '미이라', '아일랜드', '마더', '표적', '나우 유 씨 미 : 마술사기단', '타이탄', '퍼시픽 림', '원더 우먼', '사랑']
len = 300 ['안소니 루소', '알렉스 커츠먼', '마이클 베이', '봉준호', '창', '루이스 리테리어', '루이스 리테리어', '길예르모 델 토로', '팻티 젠킨스', '곽경택']
len = 300 [2018, 2017, 2005, 2009, 2014, 2013, 2010, 2013, 2017, 2007]

In [31]:
# id, secret 입력
client_id = "viO54DlhW87ESywUDwWb"
client_secret = "7ZHAscDgKs"

# 함수 실행
# MovieAPI 클래스를 ma 변수에 할당
ma = MovieAPI()
# 수집된 전체 df와 중복 제거한 df를 각각의 변수에 할당, mk_movie_df 함수 실행
nv_df_m, nv_df_m_drop_dp = ma.mk_movie_df(index_list=index_list_m, movie_list=movie_list_m, dir_list=dir_list_m, year_list=year_list_m, client_id=client_id, client_secret=client_secret)

display(nv_df_m)

440번째 완료
673번째 완료
995번째 완료
1365번째 완료
1545번째 완료
1640번째 완료
1803번째 완료
1937번째 완료
2044번째 완료
2174번째 완료
2278번째 완료
2436번째 완료
2531번째 완료
2700번째 완료
2862번째 완료
3024번째 완료
3173번째 완료
3355번째 완료
3522번째 완료
3679번째 완료
3777번째 완료
3934번째 완료
4047번째 완료
4137번째 완료
4315번째 완료
4426번째 완료
4515번째 완료
4600번째 완료
4687번째 완료
4823번째 완료

,영화명,네이버URL,이미지URL,제작연도,감독,출연,평점
순번,,,,,,,
22,어벤져스: 인피니티 워,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/13...,2018,"[앤서니 루소, 조 루소]","[크리스 프랫, 조 샐다나, 브래들리 쿠퍼, 빈 디젤, 조슈 브롤린, 엘리자베스 올...",8.97
191,미이라,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/12...,2017,[알렉스 커츠만],"[톰 크루즈, 소피아 부텔라, 애나벨 월리스]",7.24
212,아일랜드,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/17...,2018,[황보],"[황보, 서기, 레이]",7.25
264,마더,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/22...,2022,[조니차 소피아],None,0.00
287,표적,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/20...,2021,[니시지마 신지],None,0.00
...,...,...,...,...,...,...,...
4720,라이크 크레이지,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/14...,2016,[파올로 비르지],"[발레리아 브루니 테데스키, 미카엘라 라마조티]",0.00
4723,말리,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/09...,2012,[캐빈 맥도널드],"[밥 <b>말리</b>, 지기 <b>말리</b>, 지미 클리프]",8.85
4785,레 미제라블,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/18...,2019,[래드 리],"[다미엔 보나드, 잔느 발리바, 알렉시스 마넨티, 제브릴 종가, 이사 페리카]",7.88
4785,레 미제라블,https://movie.naver.com/movie/bi/mi/basic.nhn?...,None,1925,[앙리 페스쿠르],"[가브리엘 가브리오, 폴 조르주, 산드라 밀라바노프]",0.00
4823,안티고네,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/18...,2019,[소피 데라스페],"[나에마 리치, 라와드 엘-제인, 앙투안느 데로쉬에]",8.05

## 4 합치기

In [96]:
nv_drp_df = nv_df_m.duplicated(['영화명'])
# drop_duplicates(['순번'], keep='last')
idx = nv_drp_df[nv_drp_df == True].index.to_numpy()
중복 = nv_df_m.loc[idx]
중복 = 중복[중복['이미지URL'].isnull()==False]
중복 = 중복[중복['출연'].isnull()==False]
중복 = 중복[중복['평점']!='0.00']
중복 = 중복[중복['제작연도'].astype(int)>2000]

In [2]:
nv_df_m = 누락.drop_duplicates(['영화명'], keep=False)

In [97]:
중복.to_csv('중복제거.csv', encoding='utf-8')

In [3]:
import pandas as pd
첫번째 = pd.read_csv('./files/naver_api_utf-8.csv', encoding='utf-8')
누락 = pd.read_csv('./files/naver_api_m_utf-8.csv', encoding='utf-8')
중복제거 = pd.read_csv('중복제거.csv', encoding='utf-8')
display(nv_df_m.head(), 중복제거.head())

,순번,영화명,네이버URL,이미지URL,제작연도,감독,출연,평점
0,22,어벤져스: 인피니티 워,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/13...,2018,"['앤서니 루소', '조 루소']","['크리스 프랫', '조 샐다나', '브래들리 쿠퍼', '빈 디젤', '조슈 브롤린...",8.97
1,191,미이라,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/12...,2017,['알렉스 커츠만'],"['톰 크루즈', '소피아 부텔라', '애나벨 월리스']",7.24
2,212,아일랜드,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/17...,2018,['황보'],"['황보', '서기', '레이']",7.25
3,264,마더,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/22...,2022,['조니차 소피아'],NaN,0.00
4,287,표적,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/20...,2021,['니시지마 신지'],NaN,0.00

,순번,영화명,네이버URL,이미지URL,제작연도,감독,출연,평점
0,412,원더 우먼,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/12...,2017,['패티 젠킨스'],"['갤 가돗', '크리스 파인']",7.69
1,440,뷰티 인사이드,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/12...,2015,['백종열'],"['한효주', '김대명', '도지한', '배성우', '박신혜', '이범수', '박서...",7.79
2,635,잃어버린 세계를 찾아서,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/18...,2019,['크리스 버틀러'],"['휴 잭맨', '조 샐다나', '자흐 갈리피아나키스', '엠마 톰슨']",8.36
3,659,폼페이: 최후의 날,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/11...,2014,['폴 앤더슨'],"['키트 해링턴', '에밀리 브라우닝', '캐리 앤 모스', '키퍼 서덜랜드']",7.46
4,1066,피터 팬,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/03...,2003,['피 제이 호건'],"['제이슨 아이삭스', '제레미 섬터', '레이첼 허드 우드', '올리비아 윌리암스...",9.12

# ▼ 아래는 함수 오류 확인용

### 0 준비하기

In [13]:
import pandas as pd

# 리스트 불러오기
missed_df = pd.read_csv('./files/missed_utf8.csv', encoding='utf-8', index_col=0)
display(missed_df[:6])
index_list_m = list(missed_df.index)
movie_list_m = missed_df['영화명'].to_list()
dir_list_m = missed_df['감독'].to_list()
year_list_m = missed_df['연도'].to_list()

print('len =',len(index_list_m), index_list_m[:10])
print('len =',len(movie_list_m), movie_list_m[:10])
print('len =',len(dir_list_m), dir_list_m[:10])
print('len =',len(year_list_m), year_list_m[:10])

,영화명,감독,배급사,개봉일,영화형태,국적,전국 스크린수,전국 매출액,전국 관객수,서울 매출액,서울 관객수,장르,등급,영화구분,연도
22,어벤져스: 인피니티 워,안소니 루소,월트디즈니컴퍼니코리아 유한책임회사,2018-04-25,장편,미국,2553,99919006769,11211880,"28,631,269,069","3,008,819",액션,12세관람가,일반영화,2018
191,미이라,알렉스 커츠먼,유니버설픽쳐스인터내셔널 코리아(유),2017-06-06,장편,미국,1257,30504689978,3689325,"7,851,059,428","909,202",액션,15세관람가,일반영화,2017
212,아일랜드,마이클 베이,워너브러더스 코리아(주),2005-07-21,장편,미국,0,0,3433900,0,"1,285,400",SF,12세관람가,일반영화,2005
264,마더,봉준호,(주)씨제이이엔엠,2009-05-28,장편,한국,648,20195373838,3013523,"7,430,891,000","1,060,010",드라마,청소년관람불가,일반영화,2009
287,표적,창,(주)씨제이이엔엠,2014-04-30,장편,한국,665,22256359300,2841788,"5,348,606,900","652,750",액션,15세관람가,일반영화,2014
307,나우 유 씨 미 : 마술사기단,루이스 리테리어,롯데쇼핑㈜롯데엔터테인먼트,2013-08-22,장편,미국,691,19146691869,2718227,"6,322,143,282","855,244",범죄,12세관람가,일반영화,2013

len = 300 [22, 191, 212, 264, 287, 307, 312, 332, 412, 421]
len = 300 ['어벤져스: 인피니티 워', '미이라', '아일랜드', '마더', '표적', '나우 유 씨 미 : 마술사기단', '타이탄', '퍼시픽 림', '원더 우먼', '사랑']
len = 300 ['안소니 루소', '알렉스 커츠먼', '마이클 베이', '봉준호', '창', '루이스 리테리어', '루이스 리테리어', '길예르모 델 토로', '팻티 젠킨스', '곽경택']
len = 300 [2018, 2017, 2005, 2009, 2014, 2013, 2010, 2013, 2017, 2007]

### 1 xml 형태 확인

In [11]:
client_id = "viO54DlhW87ESywUDwWb"
client_secret = "7ZHAscDgKs"

import urllib.request
import xmltodict
import pandas as pd
import time
import re

start_n = 0
end_n = 1

index = index_list_m[start_n:end_n]
year_list = year_list_m[start_n:end_n]
dir_list = dir_list_m[start_n:end_n]
movie_list = movie_list_m[start_n:end_n]
start=1

for i, movie_o in enumerate(movie_list):
    ### 영화명 전처리
    movie = movie_o.replace('(애니)','').replace('(다큐)','').replace('감독판','').replace('확장판','').replace('X2','엑스 2').replace('(6/45)','')
    movie = re.sub('[^가-힣A-Za-z0-9\s-]', '', movie)   # 한글, 영어, 숫자, 공백, - 빼고 지우기
    ### url 만들기
    encText = urllib.parse.quote(movie)
    params = f'"&display=100&start={start}'
    url = 'https://openapi.naver.com/v1/search/movie.xml?query="' + encText  + params
    ### request 실행
    time.sleep(0.5)
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()
    if(rescode==200):
        response_body = response.read()
        dict_data = xmltodict.parse(response_body.decode('utf-8'), xml_attribs=False)
        search_li = dict_data['rss']['channel']
        display(search_li['item'])
        if int(search_li['total']) == 1:
            # 검색 결과가 하나인 경우 == dict
            search_li = search_li['item']
            mv_dir = search_li['director']
            mv_dir = mv_dir.split('|')[:-1] if mv_dir != None else None
            mv_actor = search_li['actor']
            mv_actor = mv_actor.split('|')[:-1] if mv_actor != None else None
            print(index_list_m[i],
                            movie_o,
                            search_li['link'],
                            mv_dir,
                            mv_actor
                            )
        elif int(search_li['total']) > 1:
            # 검색 결과가 여러개인 경우
            search_li = search_li['item']
            for j in range(len(search_li)):
                mv_title = search_li[j]['title'].replace('</b>','').replace('<b>','').replace('감독판','').replace('확장판','').replace('X2','엑스 2').replace('(6/45)','')
                mv_title = re.sub('[^가-힣A-Za-z0-9\s-]', '', mv_title)
                mv_rating = search_li[j]['userRating']
                mv_dir = search_li[j]['director']
                mv_dir = mv_dir.split('|')[:-1] if mv_dir != None else None
                mv_actor = search_li[j]['actor']
                mv_actor = mv_actor.split('|')[:-1] if mv_actor != None else None
                mv_year = search_li[j]['pubDate']
                print(mv_title, movie)
                if mv_title.replace(' ','') != movie.replace(' ','') and mv_rating == None and mv_dir == None and mv_actor == None:
                    continue
                elif mv_title.replace(' ','') != movie.replace(' ','') and mv_dir != None:
                    # 영화명이 같진 않지만 감독이 있으면
                    if dir_list[i] in mv_dir:
                        # 감독명이 API에서 찾은 리스트 안에 있으면
                        print(index_list_m[i],
                        movie_o,
                        mv_dir,
                        mv_actor
                        )
                        break   # 뒤에 더 탐색할 필요가 없음
                    elif dir_list[i] not in mv_dir and index != [] and index[-1] != i and j == len(search_li)-1:
                        # 마지막까지 못찾았으면
                        break
                    else:
                        continue
                elif mv_title.replace(' ','') == movie.replace(' ','') and mv_rating != None and mv_dir != None and mv_actor != None:
                    # 영화명 같고, 평점-감독-배우 있으면,
                    if dir_list[i] in mv_dir:
                        # 감독명이 API에서 찾은 리스트 있으면
                        print(index_list_m[i],
                            movie_o,
                            mv_dir,
                            mv_actor
                            )
                        break   # 뒤에 더 탐색할 필요가 없음
                    elif dir_list[i] not in mv_dir and index != [] and index[-1] != i and j == len(search_li)-1:
                        # 감독명이 일치하지 않은 경우, 아직 append 안됐을 때 마지막까지 못찾았으면
                        if int(dict_data['rss']['channel']['total']) <= 100:
                            # 이때, 100개 미만이면
                            if j == len(search_li)-1:
                                # 마지막 거 넣고
                                print(index_list_m[i],
                                    movie_o,
                                    mv_dir,
                                    mv_actor
                                    )
                                break
                            else:
                                continue
                        else:
                            # 100개가 넘으면 재귀, start 값이 페이지 넘어가면 break
                            break
                    elif j != len(search_li)-1:
                        continue
                elif mv_rating != None and mv_dir != None and mv_actor != None:
                    # 영화명 같지 않지만 평점-감독-배우 있는 경우
                    if dir_list[i] in mv_dir:
                        # 감독명이 API에서 찾은 리스트 안에 있으면
                        print(index_list_m[i],
                            movie_o,
                            mv_dir,
                            mv_actor
                            )
                        break   # 뒤에 더 탐색할 필요가 없음
                    elif dir_list[i] not in mv_dir and index != [] and index[-1] != i and j == len(search_li)-1:
                        # 감독명이 일치하지 않은 경우, 아직 append 안됐을 때 마지막까지 못찾았으면
                        if int(dict_data['rss']['channel']['total']) <= 100:
                            # 이때, 100개 미만이면 없는 걸로 알고 다음으로
                            break
                        else:
                            # 100개가 넘으면 재귀, start 값이 페이지 넘어가면 break
                            break
                    elif j != len(search_li)-1:
                        continue
                elif j != len(search_li)-1:       # 영화명도 다르고 평점-감독-배우 None
                    continue
    else:
        print("Error Code:" + rescode)

[{'title': '<b>어벤져스</b>: 엔드게임',
  'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=136900',
  'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1369/136900_P57_104126.jpg',
  'subtitle': 'Avengers: Endgame',
  'pubDate': '2019',
  'director': '앤서니 루소|조 루소|',
  'actor': '로버트 다우니 주니어|크리스 에반스|크리스 헴스워스|마크 러팔로|스칼릿 조핸슨|제레미 레너|돈 치들|폴 러드|브리 라슨|카렌 길런|브래들리 쿠퍼|조슈 브롤린|',
  'userRating': '9.38'},
 {'title': '<b>어벤져스</b>: <b>인피니티</b> <b>워</b>',
  'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=136315',
  'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1363/136315_P16_142450.jpg',
  'subtitle': 'Avengers: Infinity War',
  'pubDate': '2018',
  'director': '앤서니 루소|조 루소|',
  'actor': '크리스 프랫|조 샐다나|브래들리 쿠퍼|빈 디젤|조슈 브롤린|엘리자베스 올슨|베네딕트 컴버배치|스칼릿 조핸슨|톰 홀랜드|로버트 다우니 주니어|크리스 헴스워스|크리스 에반스|마크 러팔로|톰 히들스턴|폴 베타니|돈 치들|채드윅 보스만|데이브 바티스타|안소니 마키|',
  'userRating': '8.97'}]

어벤져스 엔드게임 어벤져스 인피니티 워
어벤져스 인피니티 워 어벤져스 인피니티 워
22 어벤져스: 인피니티 워 ['앤서니 루소', '조 루소'] ['크리스 프랫', '조 샐다나', '브래들리 쿠퍼', '빈 디젤', '조슈 브롤린', '엘리자베스 올슨', '베네딕트 컴버배치', '스칼릿 조핸슨', '톰 홀랜드', '로버트 다우니 주니어', '크리스 헴스워스', '크리스 에반스', '마크 러팔로', '톰 히들스턴', '폴 베타니', '돈 치들', '채드윅 보스만', '데이브 바티스타', '안소니 마키']

### 2 함수 실행해서 확인

In [96]:
# id, secret 입력
client_id = "viO54DlhW87ESywUDwWb"
client_secret = "7ZHAscDgKs"

# 함수 실행
# MovieAPI 클래스를 ma 변수에 할당
ma = MovieAPI()
# 수집된 전체 df와 중복 제거한 df를 각각의 변수에 할당, mk_movie_df 함수 실행
nv_df_m, nv_df_m_drop_dp = ma.mk_movie_df(index_list=index_list_m[404:405], movie_list=movie_list_m[404:405], dir_list=dir_list_m[404:405], year_list=year_list_m[404:405], client_id=client_id, client_secret=client_secret)

display(movie_list_m[400:412],nv_df_m)

1
1
4767번째 완료

c:\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

['백투더 씨',
 '노 맨스 랜드',
 '유아 넥스트',
 '우주로봇 씨어',
 '워터 릴리스',
 '해피 버스데이',
 '레 미제라블',
 '판타스틱 플래닛',
 '우작',
 '미싱타는 여자들',
 '세 번째 사랑']

,영화명,네이버URL,이미지URL,제작연도,감독,출연,평점
순번,,,,,,,
4767,워터 릴리스,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/06...,2007,[셀린 시아마],"[아델 에넬, 폴린 아콰르, 루이즈 블라쉬르]",8.86

In [46]:
len(nv_df_m)

58

In [47]:
ma.error_index

[[672, '검색 불가'],
 [752, '검색 불가'],
 [772, '검색 불가'],
 [1135, '검색 불가'],
 [1188, '검색 불가'],
 [1251, '검색 불가'],
 [1335, '검색 불가'],
 [1368, '검색 불가'],
 [1393, '검색 불가'],
 [1425, '검색 불가'],
 [1469, '검색 불가'],
 [1485, '검색 불가'],
 [1494, '검색 불가'],
 [1502, '검색 불가'],
 [1545, '영화명/감독명이 다름'],
 [1580, '검색 불가'],
 [1604, '검색 불가'],
 [1620, '검색 불가'],
 [1672, '영화명/감독명이 다름'],
 [1684, '검색 불가'],
 [1686, '검색 불가'],
 [1729, '검색 불가'],
 [1732, '검색 불가'],
 [1758, '검색 불가'],
 [1759, '검색 불가'],
 [1799, '검색 불가'],
 [1801, '검색 불가'],
 [1831, '검색 불가'],
 [1851, '검색 불가'],
 [1867, '검색 불가'],
 [1885, '검색 불가'],
 [1913, '검색 불가'],
 [1925, '검색 불가'],
 [1928, '검색 불가'],
 [1939, '검색 불가'],
 [1967, '검색 불가'],
 [1970, '검색 불가'],
 [2029, '검색 불가'],
 [2069, '검색 불가'],
 [2093, '검색 불가'],
 [2098, '검색 불가'],
 [2121, '검색 불가'],
 [2195, '영화명/감독명이 다름'],
 [2220, '검색 불가'],
 [2221, '검색 불가'],
 [2269, '검색 불가'],
 [2275, '검색 불가'],
 [2278, '검색 불가'],
 [2311, '검색 불가'],
 [2331, '검색 불가'],
 [2335, '검색 불가'],
 [2337, '검색 불가'],
 [2346, '검색 불가'],
 [2355, '검색 불가'],
 [2383, '검색 불가'],
 [2419, '영화명/감독명이 다름'],
 [2423, '검색 불가'],
 [2436, '검색 불가'],
 [2460, '검색 불가'],
 [2463, '검색 불가'],
 [2469, '검색 불가'],
 [2513, '검색 불가'],
 [2553, '검색 불가'],
 [2581, '검색 불가'],
 [2589, '검색 불가'],
 [2652, '검색 불가'],
 [2657, '검색 불가'],
 [2718, '검색 불가'],
 [2749, '검색 불가'],
 [2790, '검색 불가'],
 [2810, '검색 불가'],
 [2821, '검색 불가'],
 [2823, '검색 불가'],
 [2834, '검색 불가'],
 [2883, '영화명/감독명이 다름'],
 [2886, '검색 불가'],
 [2901, '검색 불가'],
 [2912, '검색 불가'],
 [2916, '검색 불가'],
 [2923, '검색 불가'],
 [2933, '검색 불가'],
 [2955, '검색 불가'],
 [2956, '검색 불가'],
 [2969, '검색 불가'],
 [2970, '검색 불가'],
 [2988, '검색 불가'],
 [2995, '검색 불가'],
 [3039, '검색 불가'],
 [3056, '검색 불가'],
 [3071, '검색 불가'],
 [3094, '검색 불가'],
 [3108, '검색 불가'],
 [3109, '검색 불가'],
 [3135, '검색 불가'],
 [3143, '검색 불가'],
 [3146, '검색 불가'],
 [3157, '검색 불가'],
 [3164, '검색 불가'],
 [3170, '검색 불가'],
 [3179, '검색 불가'],
 [3184, '검색 불가'],
 [3237, '검색 불가'],
 [3243, '검색 불가'],
 [3246, '검색 불가'],
 [3273, '검색 불가'],
 [3282, '검색 불가'],
 [3290, '검색 불가'],
 [3295, '검색 불가'],
 [3300, '검색 불가'],
 [3301, '검색 불가'],
 [3303, '영화명/감독명이 다름'],
 [3322, '검색 불가'],
 [3325, '검색 불가'],
 [3327, '검색 불가'],
 [3330, '검색 불가'],
 [3332, '검색 불가'],
 [3351, '영화명/감독명이 다름'],
 [3362, '검색 불가'],
 [3375, '영화명/감독명이 다름'],
 [3381, '검색 불가'],
 [3400, '검색 불가'],
 [3412, '검색 불가'],
 [3420, '검색 불가'],
 [3423, '검색 불가'],
 [3428, '검색 불가'],
 [3436, '검색 불가'],
 [3438, '검색 불가'],
 [3443, '검색 불가'],
 [3451, '검색 불가'],
 [3458, '검색 불가'],
 [3462, '검색 불가'],
 [3463, '검색 불가'],
 [3476, '검색 불가'],
 [3491, '검색 불가'],
 [3503, '영화명/감독명이 다름'],
 [3513, '검색 불가'],
 [3521, '검색 불가'],
 [3533, '검색 불가'],
 [3547, '검색 불가'],
 [3550, '검색 불가'],
 [3551, '검색 불가'],
 [3554, '검색 불가'],
 [3566, '검색 불가'],
 [3574, '검색 불가'],
 [3581, '검색 불가'],
 [3590, '검색 불가'],
 [3591, '검색 불가'],
 [3594, '검색 불가'],
 [3598, '검색 불가'],
 [3609, '검색 불가'],
 [3620, '검색 불가'],
 [3624, '검색 불가'],
 [3632, '검색 불가'],
 [3649, '검색 불가'],
 [3668, '검색 불가'],
 [3669, '검색 불가'],
 [3674, '검색 불가'],
 [3686, '검색 불가'],
 [3691, '검색 불가'],
 [3696, '검색 불가'],
 [3705, '검색 불가'],
 [3712, '검색 불가'],
 [3720, '검색 불가'],
 [3724, '검색 불가'],
 [3737, '검색 불가'],
 [3744, '검색 불가'],
 [3745, '검색 불가'],
 [3752, '검색 불가'],
 [3756, '검색 불가'],
 [3762, '검색 불가'],
 [3765, '검색 불가'],
 [3768, '검색 불가'],
 [3772, '검색 불가'],
 [3784, '검색 불가'],
 [3796, '검색 불가'],
 [3807, '검색 불가'],
 [3827, '검색 불가'],
 [3834, '검색 불가'],
 [3835, '검색 불가'],
 [3839, '검색 불가'],
 [3846, '검색 불가'],
 [3853, '검색 불가'],
 [3878, '검색 불가'],
 [3882, '검색 불가'],
 [3887, '검색 불가'],
 [3890, '검색 불가'],
 [3892, '검색 불가'],
 [3900, '검색 불가'],
 [3909, '검색 불가'],
 [3911, '검색 불가'],
 [3916, '검색 불가'],
 [3926, '영화명/감독명이 다름'],
 [3932, '검색 불가'],
 [3934, '검색 불가'],
 [3935, '검색 불가'],
 [3945, '검색 불가'],
 [3947, '검색 불가'],
 [3950, '검색 불가'],
 [3958, '검색 불가'],
 [3960, '검색 불가'],
 [3966, '검색 불가'],
 [3970, '검색 불가'],
 [3983, '검색 불가'],
 [3984, '검색 불가'],
 [3994, '검색 불가'],
 [3995, '검색 불가'],
 [4017, '검색 불가'],
 [4027, '검색 불가'],
 [4038, '검색 불가'],
 [4045, '영화명/감독명이 다름'],
 [4063, '검색 불가'],
 [4066, '검색 불가'],
 [4067, '검색 불가'],
 [4068, '검색 불가'],
 [4071, '검색 불가'],
 [4078, '검색 불가'],
 [4082, '검색 불가'],
 [4093, '검색 불가'],
 [4102, '검색 불가'],
 [4104, '검색 불가'],
 [4106, '검색 불가'],
 [4111, '검색 불가'],
 [4119, '영화명/감독명이 다름'],
 [4120, '검색 불가'],
 [4135, '검색 불가'],
 [4137, '검색 불가'],
 [4152, '검색 불가'],
 [4155, '검색 불가'],
 [4158, '검색 불가'],
 [4160, '검색 불가'],
 [4165, '검색 불가'],
 [4168, '검색 불가'],
 [4172, '검색 불가'],
 [4178, '검색 불가'],
 [4192, '검색 불가'],
 [4196, '검색 불가'],
 [4206, '검색 불가'],
 [4210, '검색 불가'],
 [4217, '검색 불가'],
 [4219, '검색 불가'],
 [4227, '검색 불가'],
 [4230, '검색 불가'],
 [4233, '검색 불가'],
 [4234, '검색 불가'],
 [4238, '검색 불가'],
 [4256, '검색 불가'],
 [4263, '검색 불가'],
 [4266, '검색 불가'],
 [4278, '검색 불가'],
 [4281, '검색 불가'],
 [4282, '검색 불가'],
 [4293, '검색 불가'],
 [4296, '검색 불가'],
 [4305, '검색 불가'],
 [4313, '검색 불가'],
 [4330, '검색 불가'],
 [4332, '검색 불가'],
 [4346, '검색 불가'],
 [4347, '검색 불가'],
 [4369, '검색 불가'],
 [4372, '검색 불가'],
 [4373, '검색 불가'],
 [4376, '검색 불가'],
 [4378, '검색 불가'],
 [4387, '검색 불가'],
 [4403, '검색 불가'],
 [4404, '검색 불가'],
 [4415, '검색 불가'],
 [4418, '검색 불가'],
 [4423, '검색 불가'],
 [4425, '영화명/감독명이 다름'],
 [4430, '검색 불가'],
 [4435, '검색 불가'],
 [4441, '검색 불가'],
 [4442, '영화명/감독명이 다름'],
 [4449, '검색 불가'],
 [4464, '검색 불가'],
 [4471, '검색 불가'],
 [4475, '검색 불가'],
 [4478, '검색 불가'],
 [4479, '검색 불가'],
 [4485, '검색 불가'],
 [4489, '영화명/감독명이 다름'],
 [4490, '영화명/감독명이 다름'],
 [4497, '검색 불가'],
 [4502, '검색 불가'],
 [4503, '검색 불가'],
 [4522, '검색 불가'],
 [4524, '영화명/감독명이 다름'],
 [4532, '검색 불가'],
 [4536, '검색 불가'],
 [4538, '검색 불가'],
 [4543, '검색 불가'],
 [4552, '검색 불가'],
 [4558, '검색 불가'],
 [4571, '검색 불가'],
 [4577, '검색 불가'],
 [4585, '검색 불가'],
 [4592, '검색 불가'],
 [4593, '영화명/감독명이 다름'],
 [4595, '검색 불가'],
 [4600, '검색 불가'],
 [4607, '검색 불가'],
 [4613, '검색 불가'],
 [4614, '검색 불가'],
 [4616, '검색 불가'],
 [4626, '검색 불가'],
 [4628, '검색 불가'],
 [4634, '검색 불가'],
 [4642, '검색 불가'],
 [4644, '검색 불가'],
 [4648, '검색 불가'],
 [4653, '검색 불가'],
 [4665, '검색 불가'],
 [4669, '검색 불가'],
 [4670, '검색 불가'],
 [4672, '검색 불가'],
 [4673, '검색 불가'],
 [4676, '검색 불가'],
 [4677, '검색 불가'],
 [4684, '검색 불가'],
 [4686, '검색 불가'],
 [4689, '검색 불가'],
 [4696, '검색 불가'],
 [4697, '검색 불가'],
 [4698, '검색 불가'],
 [4703, '검색 불가'],
 [4706, '검색 불가'],
 [4709, '검색 불가'],
 [4714, '검색 불가'],
 [4720, '검색 불가'],
 [4722, '검색 불가'],
 [4728, '검색 불가'],
 [4730, '검색 불가'],
 [4732, '검색 불가'],
 [4736, '검색 불가'],
 [4737, '검색 불가'],
 [4742, '검색 불가'],
 [4744, '검색 불가'],
 [4750, '검색 불가'],
 [4752, '검색 불가'],
 [4755, '검색 불가'],
 [4758, '검색 불가'],
 [4759, '검색 불가'],
 [4765, '검색 불가'],
 [4767, '검색 불가'],
 [4785, '검색 불가'],
 [4791, '검색 불가'],
 [4792, '검색 불가'],
 [4799, '검색 불가'],
 [4821, '검색 불가']]

In [49]:
missed_df.loc[4821]

영화명            세 번째 사랑
감독          리처드 J. 루이스
배급사        주식회사 마운틴픽쳐스
개봉일         2012-01-12
영화형태                장편
국적                  기타
전국 스크린수             15
전국 매출액        79548000
전국 관객수           10075
서울 매출액      61,727,500
서울 관객수           7,736
장르              멜로/로맨스
등급             청소년관람불가
영화구분           독립/예술영화
연도                2012
Name: 4821, dtype: object

In [ ]:
# https://jimmy-ai.tistory.com/102
# df.drop_duplicates()

# ⊙ 맨 아래