In [ ]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data_file = "./movie_resize.csv"
df = pd.read_csv(data_file, encoding='UTF-8')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4145 entries, 0 to 4144
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     4145 non-null   object
 1   감독      4145 non-null   object
 2   배급사     4145 non-null   object
 3   개봉일     4145 non-null   object
 4   영화형태    4145 non-null   object
 5   국적      4145 non-null   object
 6   전국스크린수  4145 non-null   int64
 7   전국 매출액  4145 non-null   int64
 8   전국 관객수  4145 non-null   int64
 9   장르      4145 non-null   object
 10  등급      4145 non-null   object
 11  영화구분    4145 non-null   object
dtypes: int64(3), object(9)
memory usage: 388.7+ KB

In [ ]:
# 역대급 200위에서 1등부터 1~10점으로

In [ ]:
# 배우, 배급사, 감독 top200 점수
#  1~20 10점
#  21~40 9점
#  41~60 8
#  61~80 7
#  81~100 6
#  101~120 5
#  121~140 4
#  141~160 3
#  161~180 2
#  181~200 1

In [ ]:
data_file = "./all_time_top200.csv"
top200 = pd.read_csv(data_file, encoding='CP949')

In [ ]:
top200.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    object
 3   매출액     200 non-null    object
 4   관객수     200 non-null    object
 5   스크린수    200 non-null    object
 6   상영횟수    200 non-null    object
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: int64(1), object(9)
memory usage: 15.8+ KB

In [ ]:
top200.head()

In [ ]:
df['영화명'].to_list()  # df 에서 '영화명' 컬럼 리스트

In [ ]:
# 영화명 inner join
# join200 = pd.merge(top200, df[['영화명','감독']],on='영화명')
# => 19개 데이터 손실????!!!!

In [ ]:
# 감독을 index 위치에 맞춰서 감독 리스트 만들기

dir_li = [0]*200
for i in range(len(top200)):
  if top200['영화명'][i] in df['영화명'].to_list():                 # 1. top200의 영화명 순서대로 하나씩 빼서(top200['영화명'][i]) df 영화명에 있는지
    index = top200['영화명'].to_list().index(top200['영화명'][i])   # 2. 있으면, 그 영화명(top200['영화명'][i])의 index 위치를 index 변수에 담기
    dir_li[index] = df['감독'][index]                               # 3. dir_li의 index 위치에 감독명을 담아주기
print(dir_li)                                                       # 결과적으로, df에서 영화명을 못찾은 영화의 감독은 0으로 남는다.

['김한민', '이병헌', '김용화', '윤제균', '안소니 루소', '제니퍼 리', '제임스 카메론', '류승완', '최동훈', '이환경', '최동훈', '이상용', '가이 리치', '추창민', '김용화', '장훈', '연상호', '윤제균', '양우석', '안소니 루소', 0, '제임스 카메론', 0, '제니퍼 리', '크리스토퍼 놀란', '브라이언 싱어', '이일형', '이상근', '한재림', '쉐인 블랙', '봉준호', '안소니 루소', '황동혁', '이석훈', '김용화', '김병서', '강형철', '조셉 코신스키', '존 왓츠', '김성훈', '마이클 베이', 0, '브래드 버드', '존 왓츠', '마이클 베이', '김지운', '김한민', '강형철', '김한민', 0, '장준환', '류승완', '조의석', '김성훈', '조스 웨던', '우민호', '이재한', '이석훈', '이계벽', '장철수', '나홍진', '강윤성', '김지운', '조성희', '류승완', '크리스토퍼 맥쿼리', 0, '이정범', '이준익', '최동훈', '크리스토퍼 맥쿼리', 0, '김학순', '크리스토퍼 놀란', '톰 후퍼', '샘 레이미', '라이언 플렉', 0, '김주환', '허정', '허진호', '김병우', '콜린 트레보로우', '장훈', 0, '롤랜드 에머리히', '페이튼 리드', '스콧 데릭슨', '장재현', '김광식', '라이언 쿠글러', '한재림', '이한', '마이클 베이', '이재규', '토드 필립스', '마크 포스터', '김지훈', '빌 콘돈', '나홍진', '이해영', '여인영', '제임스 완', '윤종빈', '피트 닥터', '매튜 본', '김주호', 0, 0, '마크 웹', '진모영', '김석윤', '원신연', '윤종빈', '우민호', '존 파브로', '윤종빈', '리치 무어', '더그 라이만', '박훈정', '마크 오스본', '데이빗 예이츠', '황동혁', '민규동', '손용호', '박정우', '맥지', '필리다 로이드', '박정우', '존 파브로', '양우석', '데이빗 예이츠', '홍원찬', '이정재', 0, '브라이언 싱어', '강우석', '박찬욱', 0, 0, '원신연', '이용주', '롭 코헨', '신태라', '크리스토퍼 놀란', '이석훈', '임순례', '장창원', '맷 리브스', '강형철', '알레산드로 칼로니', 0, '조진규', 0, '김석윤', '이재규', '조지 밀러', '황동혁', '연상호', '데이빗 레이치', '유하', '김태균', '최국희', '김유진', '알렉스 커츠먼', '김도영', '데이빗 레이치', 'F. 게리 그레이', '신카이 마코토', 0, '낸시 마이어스', '데이미언 셔젤', '조정래', '숀 레비', '조범구', '리 언크리치', '정지영', '김성훈', '존 카니', '이승준', '최성현', '강우석', '조시 쿨리', 0, '이재한', '배리 소넨필드', '리차드 커티스', '이원태', '안태진', '카일 발다', '팀 밀러', '최정열', '김현석', 'J.J. 에이브럼스', 0, '앨런 테일러', 0, 0, '이언희', '롭 마샬']

In [ ]:
# 위의 리스트를 DataFrame으로 만들어주고

dir_df = pd.DataFrame(dir_li)
dir_df.columns = ['감독']
dir_df

In [ ]:
# join200 변수에 top200과 감독 리스트를 열 기준으로 합치기
join200 = pd.concat([top200, dir_df], axis=1)
join200

In [ ]:
# join200 중에서 감독이 0으로 남은 것만 확인하기
join200.loc[join200['감독']==0] # df(resize 데이터)에서 없는 것

In [ ]:
join200.loc[join200['감독']==0].to_csv('no_data_utf-8.csv', encoding='utf-8') # csv 파일로 저장해주자.